Header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1170px;

    & ul {
        display: flex;
        gap: 32px;

    }

    & li {
        list-style: none;
        display: inline-flex;

        &:hover::before {
            content: "";
            border-left: 3px solid var(--green);
            margin-right: 3px;
        }
    }

    & a {
        text-decoration: none;
        color: var(--light-purple);
        font-size: 1.8rem;
        font-weight: 400;
        font-style: normal;
        line-height: 2.1rem;

        &:hover {
            font-weight: 700;
        }
    }
}