.main-postOne {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    & article {
        display: flex;
        width: 100%;
        max-width: 1170px;

        gap: 130px;

        & div hr {
            margin: 24px 0;
            border-color: #f2e7fa;
        }
    }
}